@font-face {font-family: "Graphik LC Web Regular";
  src: url("fonts/Graphik_LC_Web_regular.ttf") format("truetype"); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}
@font-face {font-family: "Graphik LC Web Bold";
  src: url("fonts/Graphik_LC_Web_bold.ttf") format("truetype"); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}
@font-face {font-family: "Graphik LC Web Medium";
  src: url("fonts/Graphik_LC_Web_medium.ttf") format("truetype"); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}
@font-face {font-family: "Golos Regular";
  src: url("fonts/Golos_Text_Regular.ttf") format("truetype"); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}
@font-face {font-family: "Golos Medium";
  src: url("fonts/Golos_Text_Medium.ttf") format("truetype"); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}
@font-face {font-family: "Golos Bold";
  src: url("fonts/Golos_Text_Bold.ttf") format("truetype"); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 1px; }

body {
  font-size: 16rem;
  line-height: 1; }
  body.no-scroll {
    height: 100vh;
    overflow-y: hidden; }

.fix-transition * {
  transition: none !important; }

img {
  display: block;
  max-width: 100%; }

* {
  font-family: 'PF DinDisplay Pro', sans-serif;
  font-weight: 300;
  box-sizing: border-box; }
  *:focus {
    outline: none; }

a:focus, input:focus, textarea:focus {
  outline: none;
  box-shadow: 0 0 0rem 2px #F6D432; }

a {
  color: #000;
  text-decoration: none; }

/*# sourceMappingURL=style.css.map */


/* global styles */
.page {
  padding-bottom: 70px;
}
.page-overlay {
  width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 65px);
  grid-column-gap: 30px;
}

header.header {
  grid-column: 2 / 12;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(47, 153, 103, 0.3);
  padding: 14px 0;
}

header.header a.logo{ 
  width: 156px;
  height: 42px;
}

header.header a.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  text-align: center;
  padding: 40px 0 0;
  grid-column: 2 / 12;
}

.content img {
  display: inline-block;
}

h1.title {
  font-family: "Golos Bold";
  font-size: 52px;
  color: #1A3661;
  padding: 30px 0 60px;
  width: 720px;
  margin: 0 auto;
}

.btn {
  background-color: #2F9967;
  border-radius: 5px;
  color: #fff;
  padding: 18px 82px;
  position: relative;
  transition: linear .1s;
}
.btn::after {
  content: '';
  width: 30px;
  height: 30px;
  background-image: url(../img/Vector.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30% 30%;
  background-color: #FFDB01;
  position: absolute;
  border-radius: 50%;
  top: calc(50% - 15px);
  right: 30px;
}
.btn:hover {
  background-color: #34ab73;
}

.footer-logo {
  padding-top: 50px;
}
.footer-logo  img {
  width: 128px;
  height: 34px;
  object-fit: cover;
}
.progress {
  background: #C1E1D2;
  border-radius: 3px;
  overflow: hidden;
  width: 285px;
  height: 16px;
}
.progress__label {
  background: #2F9967;
  border-radius: 3px;
  height: 100%;
}


.step {
  grid-column: 2 / 7;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 50px;
}

.step__title {
  font-family: "Graphik LC Web Regular";
  font-size: 12px;
}

.step__number {
  font-family: "Golos Medium";
  font-size: 22px;
  padding-top: 4px;
}
.step__number span {
  font-family: "Golos Medium";
}
.info {
  color: #3F3F3F;
  font-size: 14px;
  grid-column: 2 / 7;
  padding-top: 21px;
}
.info::before {
  content: "i";
  background-color: #FFDB01;
  color: #fff;
  width: 16px;
  height: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 12px;
  margin-right: 14px;
}

.question {
  grid-column: 2 / 7;
}

.question__title {
  padding-top: 21px;
  font-size: 22px;
  color: #1A3661;
  line-height: 130%;
}
.answers {
  grid-column: 7 / 12;
}

.radio-btn {
  /* padding-left: 94px; */
}

.radio-btn input[type="radio"] {
  display: none;
}

.radio-btn input + label {
  font-size: 16px;
  width: 100%;
  height: 100%;
  display: flex;
  /* justify-content: center; */
  padding: 40px 0 40px 94px;
  align-items: center;
  cursor: pointer;
  user-select: none;
  text-align: left;
  border-bottom: 1px solid #ECECEC;
  transition: background linear .1s;
  position: relative;
}
.radio-btn input + label::before {
  content: '';
  position: absolute;
  width: 17px;
  height: 17px;
  border: 3px solid #2F9967;
  border-radius: 50%;
  left: 42px;
  top: calc(50% - 13px);
  transition: linear .1s;
}

.radio-btn input + label:hover::before {
  background-color: #C1E1D2;
}
.radio-btn input:checked + label {
  background: #C1E1D2;
  color: #2F9967;
}
.radio-btn input:checked + label::before {
  background-color: #2F9967;
  border-color: #fff;
}

.card {
  position: relative;
  padding-top: 24px;
  margin-top: 37px;
  /* height: 100%;
  min-height: 270px; */
}
.slide {
  width: 100%;
  padding: 0 60px;
  /* height: 100%; */
}
@media (min-width: 1140px) {
  .slick-list.draggable {
    width: 292px;
  }
}
.slick-btn {
  cursor: pointer;
}
.slick-btn.slick-prev {
  transform: rotate(180deg);
}
.card__badge {
  position: absolute;
  top: 0;
  left: 25px;
  display: flex;
  align-items: center;
}
.card__badge p {
  background-color: #2F9967;
  width: 146px;
  padding: 8px 8px 8px 28px;
  font-size: 13px;
  color: #fff;
  margin-left: -25px;
  position: relative;
  z-index: 2;
}
.card--red .card__badge {
  left: 0;
}
.card--red .card__badge p {
  background-color: #B51827;
  padding-left: 50px;
  width: 200px;
}
.card__badge p span {
  color: #FFDB01;
}
.card__badge img {
  position: relative;
  z-index: 3;
}
.card--red .card__badge img.card__icon {
  z-index: 3;
  left: 8px;
  width: 25px;
}

.card__player {
  height: 233px;
  border-radius: 4px 4px 0 0;
  overflow: hidden;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.card__player-btn {
  border: none;
  position: absolute;
  background-color: rgba(0,0,0,.2);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: linear .1s;
}
.card__player-btn img { 
  width: 78px;
  height: 78px;
}
.card__player-btn:hover img {
  opacity: .8;
}

.card__content {
  background: #2F9967;
  border-radius: 0px 0px 4px 4px;
  padding: 25px;
  color: #fff;
  padding-top: 36px;
  /* height: calc(100% - 270px); */
}
.card--red .card__content {
  background-color: #B51827;
}

.card__content h2 {
  font-family: "Golos Regular";
  font-size: 24px;
  padding-bottom: 20px;
}
.card__content ul {
  padding-left: 16px;
}
.card__content li, .card__content p {
  font-family: "Golos Regular";
  font-size: 14px;
  line-height: 130%;
  
}
.card__content li {
  list-style: disc;
}
.carousel-cell {
  width: 100%; /* full width */
  margin-right: 10px;
}
.modal {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,.5);
  z-index: 5;
  justify-content: center;
  align-items: center;
  display: none;
}
.modal__overlay {
  width: 728px;
  height: 414px;
  background-color: #2F9967;
  position: relative;
}
.modal__close {
  width: 38px;
  height: 38px;
  position: absolute;
  right: -38px;
  top: -38px;
  background-image: url("../img/close.png");
  background-color: #000;
  background-size: 70% 70%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.modal__content {
  height: 100%;
}
.modal__content iframe {
  width: 100%;
  height: 100%;
}

.modal--show {
  display: flex;
}
.result {
  margin-bottom: 50px;
}
.result--left {
  grid-column: 2 / 6;
  margin-top: 47px;
  color: #1A3661;
  border-right: 1px solid #ECECEC;
}
.result--right {
  grid-column: 6 / 12;
  padding-top: 135px;
  padding-left: 50px;
}

.result__title {
  font-size: 48px;
  line-height: 58px;
  color: #1A3661;
}
.result--left * {
  line-height: 130%;
}
.result--left h1 {
  font-size: 36px;
}
.result--left h2 {
  font-size: 32px;
}
.result--left h3 {
  font-size: 28px;
}
.result--left h4 {
  font-size: 24px;
}
.result--left h5 {
  font-size: 22px;
}
.result--left h6 {
  font-size: 18px;
}
.result--left li, .result--left p {
  font-size: 16px;
}
.result--left ul {
  padding-left: 20px;
}
.result--left li {
  list-style: disc;
}
.result__img {
  width: 447px;
  height: 259px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(67, 140, 206, 0.3);
  border-radius: 4px;
}
.result__img img:first-child {
  width: 186px;
  height: 141.03px;
}
.result__card-content p {
  font-weight: bold;
  font-size: 16px;
  line-height: 130%;
  color: #1A3661;
  padding: 0 57px 30px;
}
.result__card-content {
  border: 1px solid rgba(67, 140, 206, 0.3);
  border-radius: 4px;
  width: 447px;
  
}
.result__card-content ul {
  padding: 30px 57px;
  font-size: 16px;
  line-height: 130%;
  color: #1A3661;
  list-style: disc;
}
.result__card-content a.btn {
  display: block;
  text-align: center;
  padding: 27px;
}
.result__card-content a.btn::after {
  right: 80px;
}

.question_carousel.slick-initialized.slick-slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__cell {
  width: 452px;
  height: 233px;
}
.card__cell img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card button.flickity-button {
  background: transparent;
  transition: linear .1s;
}
.card .flickity-button:hover {
  background: #ffffff4a;
}
.card button.flickity-button .flickity-button-icon {
  fill: #fff;
}
.card .flickity-page-dots .dot {
  background: #C1E1D2;
  opacity: 1;
}
.card .flickity-page-dots .dot.is-selected {
  background: #fff;
}
@media (max-width: 1140px) {
  .grid {
    display: block;
  }
  .page-overlay {
    width: 100%;
  }
  header.header a.logo img {
    width: 127px;
    height: 50px;
  }
  header.header {
    margin: 0 15px;
  }
  h1.title {
    width: 100%;
    font-size: 32px;
  }


  .step {
    flex-direction: column;
    align-items: flex-start;
    margin: 0 15px;
    padding-top: 30px;
  }
  p.step__number {
    font-size: 18px;
    padding-bottom: 10px;
  }
  .progress {
    width: 100%;
  }
  .info {
    margin: 0 15px;
  }
  .question {
    margin: 0 15px;
  }
  .answers {
    margin-top: 40px;
  }
  .modal__overlay {
    width: 100%;
    height: 100vh;
  }
  a.modal__close {
    right: 25px;
    top: 25px;
  }
  .modal__content {
    padding-top: 85px;
    padding-bottom: 85px;
  }
  .modal__content iframe {
    width: 100%;
    height: 100%;
  }
  .slide {
    padding: 0 18px;
    width: 292px;
  }

  .result.result--left {
    margin: 0 15px;
    border-right: none;
  }
  .result.result--right {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .result__img, .result__card-content {
    width: 100%;
  }
  .result__card-content p,
  .result__card-content ul {
    padding: 20px 40px;
  }
  /* .result__card-content a.btn {
    text-align: left;
  }
  .result__card-content a.btn::after {
    right: 20px;
  } */
  .result__title {
    margin-top: 28px;
    margin-bottom: 22px;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
  }
  .result--left h1, 
  .result--left h2, 
  .result--left h3, 
  .result--left h4, 
  .result--left h5, 
  .result--left h6 {
    text-align: center;
    line-height: 140%;
    font-size: 22px;
  }
  .question_carousel.flickity-enabled.is-draggable {
    margin: 0 -30px;
  }
}
.form-right, .form-left {
  margin-top: 47px;
}
.form-left {
  grid-column: 2 / 7;
}
.form-left h1 {
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  color: #19191A;
}
.form-left p {
  font-weight: normal;
  font-size: 22px;
  line-height: 130%;
  color: #19191A;
  margin-top: 21px;
  margin-bottom: 14px;
}
.form-left img {
  width: 447px;
  height: 230px;
  object-fit: cover;
}

.form-right {
  grid-column: 8 / 12;
}

.field {
  margin-bottom: 15px;
}
.field input {
  font-size: 18px;
  line-height: 130%;
  padding: 19px;
  background: rgba(193, 225, 210, 0.5);
  border: none;
  width: 100%;
}
.field input::placeholder {
  color: #0B7744;
}

.field.checkbox label input[type='checkbox'] {
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}
.field.checkbox label {
  width: 100%;
  display: block;
  cursor: pointer;
}
.field.checkbox label span {
  position: relative;
  padding-left: 50px;
  /* padding-right: 20px; */
  display: block;
  font-size: 12px;
  line-height: 130%;
  color: #19191A;
  user-select: none;
}
.field.checkbox label span::before {
  content: '';
  width: 15px;
  height: 15px;
  background-image: url(../img/uncheck.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 15px;
}
.field.checkbox label input:checked + span::before {
  background-image: url(../img/check.png);
}
.field.checkbox label span a {
  color: #25c57a;
}

.field__btn {
  background: #2F9967;
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  width: 100%;
  padding: 27px 0;
  cursor: pointer;
  transition: linear .1s;
}
.field__btn:hover {
  background-color: #34ab73;
}

@media (max-width: 1140px) {
  .form-left, .form-right {
    padding: 0 15px;
    max-width: 480px;
    margin: 47px auto 0;
  }
  .form-left h1 {
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #19191A;
  }
  .form-left p {
    font-size: 18px;
    line-height: 130%;
    text-align: center;
  }
  .form-left img {
    max-width: 447px;
    max-height: 230px;
    margin: 0 auto;
    width: 100%;
    height: unset;
  }
  .form-right {
    margin-top: 12px;
  }
}

@media (max-width: 1140px) and (min-width: 480px) {
  .card__cell {
    width: 100%;
  }
}